.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 6rem;
  background-color: #0c3c06;
  color: white;

  a {
    color: white;
  }
}

.families {
  font-weight: 600;
}

.arpiel {
  font-size: 14px;
}