.container {
  margin-top: 5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 36%;
  gap: 0.5rem;
}

.input1 {
  margin-left: 5rem;
}

.input2 {
  margin-left: 3.4rem;
}

.input3 {
  margin-left: 2.77rem;
}

.clean {
  color: green;
  font-weight: 800;
}

.dirty {
  color: red;
  font-weight: 800;
}

.result {
  margin-top: 8rem;
}